.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    position: relative;
    
  }
  .exampleee-form-field {
    margin-right: 20px;
    position: relative;
  }

  .container {
    margin: 30px;
  }
    mat-form-field {
      width: 100%;
    }
    button{
        position: relative;
        bottom: 200px;
        left: 200px;
    }
    body{
        background-color: black;
        height: 1000%;
    }
    span{
      color: red;
    }
  